// * Colors

$buttonColor: #4b51ef;
$bgcSidebar: #BDBDBD;
$bgcSubmit: #52CF4F;
$userFontColor: #A3A3A3;
$userBgColor: #F3F3F3;
$linksColor: rgba(52, 131, 204, 1);
$invalidColor: #D91313;
$buttonFontColor: #FFFFFF;
$hoverBtnColor: #686CDF;
$hoverLinks: #24276D;