@import "src/sass/vars";
@import "src/sass/mixins";

.user {
  &_wrapper {
    background: $userBgColor;
    border-radius: 8px;
    position: relative;
    padding: 10px;

    + div {
      margin-top: 14px;
    }
  }

  &_info {
    font-size: 13px;
    line-height: 13px;

    color: #000000;
  }

  &_item {
    font-size: 13px;
    line-height: 13px;
    color: $userFontColor;

    + li {
      margin-top: 5px;
    }
  }

  &_link {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    color: $linksColor;
    @include hoverLinks;
  }
}