
.messageWrapper {
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  width: 670px;
}

.pageName {
  color: #d27a3d;
  text-decoration: underline;
  word-break: break-all;
}

.goHomeButton {
  width: 217px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
  7px 7px 20px 0px rgba(0, 0, 0, .1),
  4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  background: linear-gradient(0deg, rgb(211, 134, 18) 0%, rgb(211, 99, 52) 100%);
  line-height: 42px;
  border: none;

  &:hover {
    background: linear-gradient(0deg, rgb(158, 108, 33) 0%, rgb(211, 99, 52) 100%);
  }
}
